.review {
  margin:0px;
  margin-right: 0%;
  margin-top: 3%;
  padding-bottom: 2%;
  border-bottom: 1px solid rgb(221, 221, 221);
}


.reviewContent {
  position: relative;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  font-size: 17px;
  padding-top: 60px;
}


.reviewUsername {
  position: relative;
  left: 60px;
  top: 0px;
  font-size: 17px;
  font-weight: bold;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.reviewTime {
  position: relative;
  left:60px;
  font-size: 15px;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.reviewImg {
  position: absolute;
}

.userDate {
  position: absolute;
}

.Img {
  border-radius: 50%;
}